h1{
font-weinght:normal;
text-align:center;
background:#FF9900;
}
p{
font-family:Arial, Helvetica, Sans-serif, "Myriad pro";
font-size:20px;
font-weight:normal;
text-align:center;
line-height:30px;
text-decoration:none;
text-transform:uppercase;
letter-spacing:normal;
text-shadow:5px 5px 5px #000;

}

